@import "tailwindcss";

@theme {
  --font-sans: var(--font-cairo), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-cairo), sans-serif;
}

@media print {
  @page {
    size: landscape;
    margin: 1cm;
  }

  body {
    background: white;
  }
  
  /* Hide typical interactive elements automatically */
  .no-print, [role="button"], button {
    display: none !important;
  }

  /* Ensure print blocks interact correctly with flow */
  .print\:block {
    width: 100%;
    display: block !important;
  }
}