@import "tailwindcss";

@theme {
  --font-sans: var(--font-cairo), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-cairo), sans-serif;
}

@media print {
  @page {
    size: landscape;
    margin: 1cm;
  }
  
  body * {
    visibility: hidden;
  }
  
  .print\:block, .print\:block * {
    visibility: visible;
  }
  
  .print\:block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
  }

  .no-print, [role="button"], button {
    display: none !important;
  }
}